- if @evaluation.current_census_year?
  - if @total
    - if can?(:update_member_counts, @group)
      = button_action_edit(edit_group_member_counts_path(@group))
    - if can?(:delete_member_counts, @group)
      = button_action_destroy(group_member_counts_path(@group))
  - elsif can?(:update_member_counts, @group)
    = action_button(t('.create_population_data'), group_member_counts_path(@group), :plus, method: :post)
