#  Copyright (c) 2012-2014, CEVI Regionalverband ZH-SH-GL. This file is part of
#  hitobito_cevi and licensed under the Affero General Public License version 3
#  or later. See the COPYING file at the top-level directory or at
#  https://github.com/hitobito/hitobito_cevi.

# Settings relevant for the cevi wagon
# Overrides settings from the main application
application:
  name: cevi.db
  footer:
    logo_image: logo_footer.png
    logo_url: http://www.cevi.ch
    links:
      Hilfe: http://www.cevi.ch/dbsupport

  languages:
    de: Deutsch


# The person with this email has root access to everything
# This person should only be used by the operators of the application, not the customers.
# Initially, a password reset token may be mailed from the application to this address to set a password.
root_email: hitobito-cevi@puzzle.ch


<% mail_domain = ENV['RAILS_MAIL_DOMAIN'].presence ||
                 ENV['RAILS_HOST_NAME'].presence ||
                 'localhost' %>

email:
  # Sender for all emails sent by the application
  sender: <%= "<noreply@#{mail_domain}>" %>

  # If mass emails are sent, this recipient is used in the to field,
  # while the actual recipients go in the bcc field.
  mass_recipient: <%= "<noreply@#{mail_domain}>" %>